var profile_present = '<%= escape_javascript(@profile_present.to_json) %>'
var student_present = '<%= escape_javascript(@student_present.to_json) %>'
var active_membership = '<%= escape_javascript(@active.to_json) %>'
var payment_present = '<%= escape_javascript(@payment.to_json) %>'
//alert("Profile: " + profile_present + ", Student: " + student_present + ", Membership: " + active_membership + ", Customer: " + payment_present);
 
if (profile_present == "true"){
   	document.getElementById('profile_name').value = '<%= escape_javascript(raw @result.name.to_json) if @profile_present%>'
	$("#search_profile_area").hide();
    $("#existing_profile_area").show();

    document.getElementById('user_info').innerHTML = '<p class = "lead center"><%= @result.name %>, thanks for signing in.</p><p> <%= hidden_field_tag "profile_id", @result.id %>'

  	if (student_present == "true"){
    	if (!active_membership){
    		$("#product-display").show();
    	} else {
    		document.getElementById('product_info').innerHTML = '<% if @membership.present? %> <p class="lead center">You have an active membership: <%= @membership.name %></p><% end %>'
		}
  	} else {
  		$("#product-display").show();
  		$("#waiver").show();
  	}

  	if (payment_present == "false"){
  		$("#payment-details").show();
  	}

} else{
    $("#search_profile_area").hide();
    $("#create_profile_area").show();
    $("#product-display").show();
     document.getElementById('new_profile_email').value = document.getElementById('search_email_contains').value 
}