
<%if @membership%>
     <div class="modal-body">
    <%= simple_form_for([@studio, @membership], :html => { :class => 'form-horizontal', :remote => true } ) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">   
                <div class="row">
                <%= f.input :name %>
                
                <div class="span5"> 
                <%= f.input :price%>
                <%= f.input :trial_period_days%>
                </div>

                <div class="span5">
                <%= f.input :interval %>
                <%= f.input :interval_count %>
                </div>
              </div>

            <div id="stripe_error">
            <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
            </div>
      </div>
      <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
       <%= f.submit nil, :class => 'btn btn-submit btn-primary' %>
        <% end %>
    </div>     
<% end %>
    </div>     
