		<h3> Memberships</h3>
			<div class="pull-right" style="margin-top:-40px;">
				  <%= link_to 'New membership', new_studio_membership_path(@studio),
        :class => 'btn btn-primary btn-sm' ,  :data => {:toggle => "modal", :target => "#myModal"} , :remote => true, :html => {:style => "margin-top:5px;"}%>

			</div>
			<div class="divider-horizontal-regular"></div>
				<table class="table table-hover">
				    <thead>
				        <tr>
				          <th>Name</th>
				          <th>Price</th>  
				          <th>Interval</th>
				          <th>Interval Count</th>
				          <th>Trial Period Days</th>                        <th></th>
				          <th></th>                          
				        </tr>
				    </thead>
				    <tbody>
				    	<% @memberships = @studio.memberships.find(:all)%>
				        <% @memberships.each do |membership| %>
				        	<tr>
				        		<td><%= membership.name %></td>
				        		<td><%= membership.price%></td>
				        		<td><%= membership.interval%>
				        		</td>						
				        		<td><%= membership.interval_count if membership.interval_count?%></td>		        		<td><%= membership.trial_period_days if membership.trial_period_days?%></td>
								<% @edit_membership = membership %>
				  				<td><%= link_to 'edit', edit_studio_membership_path(@studio, @edit_membership),  :data => {:toggle => "modal", :target => "#editModal"} , :remote => true %>	</td>
    							<td><%= link_to 'Delete', [membership.studio, membership], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :class => 'btn btn-sm' %></td>
				        	</tr>
				        <% end %>
				</table>




 
 		<%= render 'new' %>
