<script> 
$(document).ready(function() {

  $('.form_datetime').datetimepicker({
    weekStart: 1,
    autoclose: 1,
    maxView: 3,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
  });

});

</script>

<div class="form-group">
  <%= hidden_field_tag "type", "Session" %>
  <%= form.hidden_field :resource_type, :value => "User" %>
  <%= form.hidden_field :resource_id, :value => current_user.id %>
  <div class="row">
    <div class="col-xs-6">
      <p><%= form.label :start_at, "Start Time" %><br />
        <%=h form.text_field :start_at, 'data-date' => Date.today, :class => "form_datetime form-control", :type => "text"%>
      </p>
    </div>
    <div class="col-xs-6">

      <p><%= form.label :end_at, "End Time" %><br />
        <%=h form.text_field :end_at, 'data-date' => Date.today, :class => "form_datetime form-control", :type => "text"%>
      </p>
    </div>

  </div><!-- End of row -->
  <p>
    <%=h form.text_area :description, :class => "form-control", :type => "text", :rows => "10" %>
  </p>

</div><!-- End of form group -->
