<% content_for :nav do %>
<%= render 'layouts/nav/main' %>
<% end %>

<% content_for :sidebar do %>
<%= render 'layouts/sidebar' %>
<% end %>

<div id='notice'></div>

<div class="col-xs-8 col-xs-offset-2">
  <% if !current_user.account.present? %>
  <%= render "guides/account" %>
  <% elsif !current_user.account.studio.present? %>
  <%= render "guides/upgrade_to_studio" %>

  <!-- Calendar view script -->
<!--
  <script> 
  $(document).ready(function() {
    $('#purchase').bind('ajax:success', function() {  
      $("#notice").replaceWith("<%= escape_javascript(render 'layouts/messages') %>")
    });  

    $('#calendar').fullCalendar({
     defaultView: 'agendaDay',
     header: {
       left: '',
       center: '',
       right: ''
     },
     eventSources: [{
      url: '<%= events_path() %>',
    }],
  });
  });
  </script>

  <%= link_to raw("<span class=\"glyphicon glyphicon-plus-sign\" style=\"font-size:18px;\"></span>".html_safe), '',  :data => {:toggle => "modal", :target => "#newModal"} , :remote => true %>

<h3>Schedule for this Afternoon</h3>
<div class="divider-horizontal-regular" style="margin-bottom:0px"></div>

<div id='dashboard-cal'>
  <div id='calendar'></div>
</div>
-->


<% end %>