<div class="modal-body">
<%= form_for("user", :url => user_registration_path, :html => {:class => 'form-vertical' }) do |form| %>
  <div class="form-inputs">   

  	  <p><%= form.label :name %><br />
  <%= form.text_field :name, :autofocus => true, :class => "form-control", :id => "user_name_register"%></p>  

 
  	  <p><%= form.label :email %><br />
  <%= form.text_field :email, :required => true, :class => "form-control", :id => "user_email_register"%></p>  

 	  <p><%= form.label :password %><br />
  <%= form.password_field :password, :required => true, :class => "form-control", :id => "user_password_register"%></p>  

 	  <p><%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation, :required => true, :class => "form-control", :id => "user_passwordconfirm_register"%></p>  

  </div>
      <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
       <%= form.submit "Sign up", :class => 'btn btn-submit btn-primary' %>
    </div>     
<% end %>


</div>     
</div>     
