<script>
Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
$(document).ready(function() {

//Add form control to necessary elements if they exist
document.getElementById("user_profile_attributes_state").classList.add('form-control');
var studio_state = document.getElementById("studio_state")
if (studio_state) {
  studio_state.classList.add('form-control');
}
var location_state = document.getElementById("location_state")
if (location_state) {
  location_state.classList.add('form-control');
}

$('#profile_is_not_available').click(function(){
    if($(this).is(':checked')){
     $("#availability_table").hide();
    } else {
     $("#availability_table").show();
    }
});

    $('.schedule').datetimepicker({
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 0,
        startView: 1,
        forceParse: 0,
        showMeridian: 1
    });

    var phone = document.getElementById('user_profile_attributes_phone').value.toString();
    if (phone != "" && phone != "0"){ 
    number = "(" +phone.charAt(0)+phone.charAt(1)+phone.charAt(2)+ ") " 
        +phone.charAt(3)+phone.charAt(4)+phone.charAt(5)+ "-" 
        +phone.charAt(6)+phone.charAt(7)+phone.charAt(8)+phone.charAt(9)
    document.getElementById('user_profile_attributes_phone').value = number;
    }

    var num = document.getElementById('user_profile_attributes_emergency_contact_number').value.toString();
    if (num != "" && num != "0"){ 
    number = "(" +num.charAt(0)+num.charAt(1)+num.charAt(2)+ ") " 
        +num.charAt(3)+num.charAt(4)+num.charAt(5)+ "-" 
        +num.charAt(6)+num.charAt(7)+num.charAt(8)+num.charAt(9)
    document.getElementById('user_profile_attributes_emergency_contact_number').value = number;
    }
    $('#birthday').datetimepicker({
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 0,
        minView: 2,
        startView: 4,
        forceParse: 0,
        showMeridian: 1, 
        pickTime: false, 
    });

    var birthday = document.getElementById('birthday').value.toString();
    birthday = birthday.replace(/-/g,"\/");
    date = new Date(birthday);
    formatted_date = date.toLocaleDateString();
    document.getElementById('birthday').value = formatted_date;

$('#edit-user').submit(function(event) {
    var phone = document.getElementById('user_profile_attributes_phone').value.toString();
    var num = phone.replace(/\D/g,'');
    document.getElementById('user_profile_attributes_phone').value = num;

    var ecphone = document.getElementById('user_profile_attributes_emergency_contact_number').value.toString();
    var contact = ecphone.replace(/\D/g,'');
    document.getElementById('user_profile_attributes_emergency_contact_number').value = contact;

    var birthday = document.getElementById('birthday').value.toString();
    date = new Date(birthday);
    document.getElementById('birthday').value = date;
    });

});


</script>

<% content_for :nav do %>
  <%= render 'layouts/nav/settings' %>
<% end %>

<div class="col-xs-8 col-xs-offset-2">

<!-- This section is for editing the main details for the user. It also includes main fields borrowed from the profile object. Filling out this section of the form requires confirming with your password -->
<h3> Account Details </h3>
<hr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true, :id => "edit-user"}) do |f| %>
  <%= f.fields_for :profile do |p| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="form-group col-xs-6">
    <p><%= f.label :name %><br />
    <%=h f.text_field :name, :class => "form-control"%></p>
    <p><%= f.label :email %><br />
    <%=h f.email_field :email, :class => "form-control" %></p>
    <p><%= p.label :address %><br />
    <%=h p.text_field :address, :class => "form-control" %></p>
      
      <div class="row">
          <div class="form-group col-xs-8">
            <p><%= p.label :city %><br />
              <%=h p.text_field :city, :class => "form-control" %></p>  
          </div>
          <div class="form-group col-xs-4">
            <p><%= p.label :state %><br />
              <%= p.select :state, STATES, {:class => "form-control"} %></p>

          </div>
      </div>

      <h4>Change Your Password</h4>
      <p><%=h f.label :password %> <br />
      <%=h f.password_field :password, :autocomplete => "off", :class => "form-control"%></p>
    </div>

  <div class="form-group col-xs-6">
    <p><%= p.label :dob, "Date of Birth" %><br />
      <%if !current_user.profile.dob.present? %>
    <%=h p.text_field :dob, 'data-date' => Date.today - 21.years, :class => "form_datetime form-control", 'data-date-format'=>"m/d/yyyy", :id => "birthday"%></p>   
    <% else %>
        <%=h p.text_field :dob, 'data-date' => current_user.profile.dob, :class => "form_datetime form-control", 'data-date-format'=>"m/d/yyyy", :id => "birthday"%></p>   
    <% end %>
    <!--
    <span class="add-on">
        <i class="glyphicon glyphicon-calendar"></i>
    </span></p>
    -->

    <p><%= p.label :phone %><br />
      <%=h p.telephone_field :phone, :class => "form-control" %></p>

    <p><%= p.label :emergency_contact_name %><br />
    <%=h p.text_field :emergency_contact_name, :class => "form-control"%></p>

    <p><%= p.label :emergency_contact_number %><br />
    <%=h p.text_field :emergency_contact_number, :class => "form-control"%></p>

    <p style="padding-top:54px;"><%= f.label :password_confirmation %><br />
    <%=h f.password_field :password_confirmation, :class => "form-control" %></p>

    <a data-toggle="modal" href="#enter-password" class="btn btn-primary pull-right" type="button">Update</a>
  </div>
</div>

<div class="modal fade" id="enter-password" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Password</h4>
      </div>

        <div class="modal-body">    
        <%= f.label :current_password %>
        <%=h f.password_field :current_password, :class => "form-control", :required => true %>
        <p class="help-block">Note: We need your current password to confirm your changes</p>
        </div>
  
    <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
          <button type="submit" id="submit_button" class="btn btn-primary pull-right">Confirm</button>
    </div>     
    </div>     

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% end %>
<% end %>

<hr>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
</div>


