<% if Studio.first.present? %>
<div class="row">
  <div class="col-lg-2 leftspan" style="margin-top: 10px;">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="col-lg-8 rightspan">
<% else %>
  <div class="col-lg-8 col-lg-offset-2">
<% end %>

<!-- move to controller -->
<% if !current_user.profile.present? %>
<% current_user.build_profile %>
<% end %>
<% if !current_user.photo.present? %>
<% current_user.build_photo %>
<% end %>
<h3> Personal Details </h3>
<div class="divider-horizontal-regular"></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true}) do |f| %>
  <%= f.fields_for :profile do |p| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="form-group col-lg-6">
    <p><%= f.label :name %><br />
    <%= f.text_field :name, :class => "form-control"%></p>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :class => "form-control" %></div>
    <div><%= p.label :phone %><br />
      <%= p.telephone_field :phone, :class => "form-control" %></div>
      <div><%= p.label :address %><br />
      <%= p.text_field :address, :class => "form-control" %></div>
      
      <div class="row">
          <div class="form-group col-lg-8">
            <div><%= p.label :city %><br />
              <%= p.text_field :city, :class => "form-control" %></div>  
          </div>
          <div class="form-group col-lg-4">
            <div><%= p.label :state %><br />
              <%= p.select(:state, options_for_select(STATES, current_user.profile.state), :class => "form-control") %></div>
          </div>
      </div>
    </div>

  <div class="form-group col-lg-6">
    <div><%= f.label :password %> <br />
    <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %></div>
      <p class="help-block">Leave blank if you don't want to change it</p>

      <% if false %>
        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>
      <% end %>

    <div><%= f.label :current_password%><br />
    <%= f.password_field :current_password, :class => "form-control"  %></div>
      <p class="help-block">We need your current password to confirm your changes</p>

    <div><%= f.submit "Update", :class => "btn btn-primary pull-right" %></div>
  </div>
  </div>


<div class="divider-horizontal-regular"></div>
  <h3> Instructor Profile </h3>
<div class="divider-horizontal-regular"></div>
  
<div class="row">
  <div class="form-group col-lg-6">
    <p><%= p.label :description %><br />
    <%= p.text_area :description, :class => "form-control", :cols => 20, :rows => 10 %></p>  
    <p class="help-block">This will appear in your instructor profile.</p>

    </br><p><b> Availability </b></p></br>
    <p> Mon | Tues | Wed | Thurs | Fri | Sat | Sun</p></br>
  </div>
  <div class="form-group col-lg-6">
    </br><p><b> Certification </b></p></br>
    </br><p><b> Current Employment </b></p></br>
    <%= p.check_box :is_certified, :class => "form-control"%>
    <p style = "margin-top:-26px;margin-left:30px;"><b> Is certified? </b></p>
    <%= p.check_box :is_available, :class => "form-control"%>
    <p style = "margin-top:-26px;margin-left:30px;"><b> Is available? </b></p>
    <% end %>
    <%= f.fields_for :photo do |asset| %>
    <p><%= asset.label :image, "Image" %><br />
    <%= asset.file_field :image, :class => "form-control"%></p>  
    <% end %>
  <div><%= f.submit "Update", :class => "btn btn-primary pull-right" %></div>
  </div>
</div>

<% end %>

<div class="divider-horizontal-regular"></div>
    <h3> Billing Details </h3>
<div class="divider-horizontal-regular"></div>
<% if !current_user.customer.present? %>
<% @customer = current_user.build_customer %>
<% else %>
<% @customer = current_user.customer %>
<% end %>
    <%= render 'customers/form' %>


<div class="divider-horizontal-regular"></div>
  <% if current_user.has_role? :owner %>
      <h3> Studio Details </h3>
<div class="divider-horizontal-regular"></div>
    <%= render 'studios/form' %>
  <% else %>
      <h3> Add Studio to Your Account </h3>
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;scope=read_write&amp;stripe_landing=login&amp;client_id=ca_2Ksr3KRSkcnkhLjwUQPbFNKuAptJ5sSw" class="stripe-connect pull-right btn btn-primary btn-sm" style="margin-top: -35px;"><span>Connect with Stripe</span></a>
<div class="divider-horizontal-regular"></div>
  <% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
</div>
</div>
</div>

