
<div class="modal-body">

<div id="search_profile_area">

  <%= form_for @search, :url => search_users_path, :method => 'get', :remote => true, :id => "search_users" do |f| %>
    <div class="input-group">
      <%= f.text_field :email_contains, :class => "form-control", :placeholder => "search by email"  %>
      <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" id="profile_search">Search Students</button>
      </span>
    </div><!-- /input-group -->
  <% end %>
  <a href="#" id="toggle_form" class="pull-right"> Or add new profile</a>

<%= form_tag({:controller => 'users', :action => 'search'}, :remote => true, :'data-update-target' => 'update-container') do %>
    <%= text_field_tag 'url', nil, :class => 'textinput', :placeholder => 'Paste the link URL here'  %>
    <%= submit_tag 'Submit', :disable_with => 'Please wait...', :class => 'submit' %>
<% end %>

<div id="update-container">
</div>
</div>

<div id="create_profile_area">
<a id="toggle_search">Search</a>

<%= form_for(Profile.new) do |p| %>
<div class="form-group">
<div class="row">
      <div class="col-lg-12">
    <p><%= p.label :name %><br />
    <%=h p.text_field :name, :class => "form-control"%></p>
    <p><%= p.label :email %><br />
    <%=h p.email_field :email, :class => "form-control" %></p>
    <p><%= p.label :address %><br />
    <%=h p.text_field :address, :class => "form-control" %></p>
      
      <div class="row">
          <div class="col-lg-8">
            <p><%= p.label :city %><br />
              <%=h p.text_field :city, :class => "form-control" %></p>  
          </div>
          <div class="col-lg-4">
            <p><%= p.label :state %><br />
              <%= p.select :state, STATES, {:class => "form-control"} %></p>

          </div>
      </div>
    <p><%= p.label :dob, "Date of Birth" %><br />
    <%=h p.text_field :dob, 'data-date' => Date.today, :class => "form_datetime form-control", 'data-date-format'=>"M d yyyy", :type => "text"%></p>

    <p><%= p.label :phone %><br />
      <%=h p.telephone_field :phone, :class => "form-control" %></p>

    <p><%= p.label :emergency_contact_name %><br />
    <%=h p.text_field :emergency_contact_name, :class => "form-control"%></p>

    <p><%= p.label :emergency_contact_number %><br />
    <%=h p.text_field :emergency_contact_number, :class => "form-control"%></p>

  </div><!-- End of row -->
</div><!-- End of form-group -->
<%= hidden_field_tag "user_type", "student" %>
<%= hidden_field_tag "account_type", "studio" %>

    </div><!-- End of body -->
    <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
    </div>     
    </div>     
  </div><!-- End of collapseable -->