  <script>
$(document).ready(function() {
document.getElementById("profile_state").classList.add('form-control');
    $("#create_profile_area").hide();

    var phone = document.getElementById('profile_phone').value.toString();
    if (phone != "" && phone != "0"){ 
    number = "(" +phone.charAt(0)+phone.charAt(1)+phone.charAt(2)+ ") " 
        +phone.charAt(3)+phone.charAt(4)+phone.charAt(5)+ "-" 
        +phone.charAt(6)+phone.charAt(7)+phone.charAt(8)+phone.charAt(9)
    document.getElementById('profile_phone').value = number;
    }

    var num = document.getElementById('profile_emergency_contact_number').value.toString();
    if (num != "" && num != "0"){ 
    number = "(" +num.charAt(0)+num.charAt(1)+num.charAt(2)+ ") " 
        +num.charAt(3)+num.charAt(4)+num.charAt(5)+ "-" 
        +num.charAt(6)+num.charAt(7)+num.charAt(8)+num.charAt(9)
    document.getElementById('profile_emergency_contact_number').value = number;
    }
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 0,
        minView: 2,
        startView: 4,
        forceParse: 0,
        showMeridian: 1
    });

$('#toggle_form').on('click', function () {
    $("#search_profile_area").hide();
        $("#create_profile_area").show();

});

$('#toggle_search').on('click', function () {
    $("#search_profile_area").show();
        $("#create_profile_area").hide();

});

});
</script>

  <div class="col-lg-8 col-lg-offset-2">
<div class="row">
<div class="col-lg-6" >
  <% if current_user.active_role.resource_type == "Studio" %>
	  <h3> Students of <%= Studio.find(current_user.active_role.resource_id).name %></h3>
  <% elsif current_user.active_role.resource_type == "User" %>
    <h3> Students of <%= User.find(current_user.active_role.resource_id).name %></h3>
  <% end %>
	<p style="margin-top:-32px;margin-left:325px;">
			<%= link_to '+ add new', '',  
				:data => {:toggle => "modal", :target => "#addStudent"} , :remote => true, :html => {:style => "margin-top:5px;"}%></p>
</div>
<div class="col-lg-6" style="margin-top:20px;" >
	<%= form_for @search, :url => students_path, :html => {:method => :get} do |f| %>
		<div class="input-group">
      	<%= f.text_field :name_or_email_contains, :class => "form-control"  %>
      	<span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Search</button>
      	</span>
    	</div><!-- /input-group -->
	<% end %>
</div>
</div>

<hr>
		<table class="table table-hover">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>Date Joined?</th>                             
		        </tr>
		    </thead>
		    <tbody>
		        <% @students.each do |profile| %>
		        	<tr>
		        		<% if profile.user_id.present? %>
		        		<% user = User.find(profile.user_id) %>
		        		<td><%=link_to profile.name, user %></td>
		        		<% else %>
		        		<td><%= profile.name %></td>
		        		<% end %>
		        		<td><%= profile.email %></td>
		        		<td><%= profile.phone %></td>
		        		<td></td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

</div>


  <div class="modal" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addInstructorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Student</h4>
      </div>
      <%= render :partial => 'students/add_profile_studio'%>
 

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
