<script type="text/javascript">
$(document).ready(function() {

  $("#new_session").hide();

  $('#toggle').on('click', function () {
    $("#new_session").toggle();
  });

});

var date = new Date();
var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

jQuery(function($) { 
  $( "#datepicker" ).datepicker( {
    minDate: new Date(y, m, d),
    dateFormat: 'mm-dd-yy',
    beforeShowDay: enableAllTheseDays,
    onSelect: function(date) {
      $("#display-times").value = date;
      alert(date);
    }
  }); 
});

// Enable a list of dates
var enabledDays = [];
for (i = 0; i < 19; i++) {
  var currentDate = new Date()
  var day = currentDate.getDate() + i;
  var month = currentDate.getMonth() + 1 ;
  var year = currentDate.getFullYear();
  var my_date = ""+ month+"-"+day+"-"+year + "";
  enabledDays.push(my_date);
}

function enableAllTheseDays(date) {
  var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
  for (i = 0; i < enabledDays.length; i++) {
    if($.inArray((m+1) + '-' + d + '-' + y,enabledDays) != -1) {
      return [true];
    }
  }
  return [false];
}

</script>

<% content_for :nav do %>
<%= render 'layouts/nav/main' %>
<% end %>

<% content_for :sidebar do %>
<%= render 'layouts/sidebar' %>
<% end %>

<div class="col-lg-7 col-lg-offset-2">
	<div class="well">  
    <strong class="count">7</strong>
    <div class="row">
     <div class="col-lg-3">
      <%= image_tag @profile.photo.image.url(:medium), :class => "img-circle" %>
      <p class="center"> Contact after <%= @past_sessions.first.start_at + 7.days %> date </p>
      <p class="center"> Contact method: </br> 617-610-1988 </p>

      <p class="center"> Next session scheduled on <%= @past_sessions.first.start_at + 7.days  %>  </p>

      <p class="center"> Total of <%= @past_sessions.count %> sessions </p>
      <p class="center"> Avg of <%= @student.frequency(@past_sessions) %></p>
    </div>
    <div class="col-lg-7">
      <h2><%= @profile.name %><a href="#" id="toggle" class="pull-right"><span class="glyphicon glyphicon-plus-sign" style="margin-top:-4px;font-size:26px;"></span></a></h2>
      <div id="new_session">

        <%= render "sessions/form" %>
      </br>
    </div>
    <hr style="border-top:1px solid #000">
    <% if @past_sessions.count == 0 %>
    <p class="center"> This client does not have a record of past sessions.  </p>
    <% else %>
    <% @past_sessions.each do |session| %>
    <hr>
    <a href="#" class="pull-right"><span class="glyphicon glyphicon-minus-sign" style="margin-top:-4px;font-size:16px;"></span></a>
    <p>Start At: <%= session.start_at %></p>
    <p>Duration: <%= session.duration %></p>
    <p><%= session.description if session.description%></p>
    <% end %>
    <% end %>
  </div>
</div>
</div>
</div>

<div class="col-lg-3">
	<div class="well">  
		This is where notifications will popup.
	</div>

	<div class="well">  

		<div id="datepicker"></div>
		<hr>
	</div>
</div>