
<% if user_signed_in? %>
<nav class="main-nav">
	<div class="container">
		<% if current_user.active_role.name != "student" %>

		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
            <li><%= link_to 'Event Page', calendar_path %></li>
    		<li><%= link_to 'Manage', events_path %>></li>
    		<li><%= link_to 'Edit', events_path %>></li>
    		<li><%= link_to 'Find Sub', events_path %>></li>
    		<li><%= link_to 'Cancel', events_path %>></li>
    		<li><%= link_to 'Checkin', events_path %>></li>
		</ul>
		<% end %>
	</div>
</nav>
<% end %>

			
