<% if user_signed_in? %>
<nav class="main-nav">
	<div class="container">
		<% if current_user.active_role.name == "student"%>
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
    		<li><a>Discover Studios</a></li>
    		<li><a>Find Classes</a></li>
    		<li><a>Help</a></li>
		</ul>

		<% elsif current_user.account.present? && current_user.active_role.name == "professional"%>
		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
    		<li><%= link_to 'Dashboard', root_path() %></li>
    		<li><%= link_to 'Calendar', calendar_path %></li>
    		<li><%= link_to 'Events', calendar_path %></li>
    		<li><%= link_to 'Students', students_path %></li>
    		<li><%= link_to 'Reports', reports_path %></li>
		</ul>
		<% elsif current_user.active_role.name == "owner" %>

		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path() %></li>
    		<li><%= link_to 'Dashboard', root_path() %></li>
    		<li><%= link_to 'Calendar', calendar_path %></li>
    		<li><%= link_to 'Events', calendar_path %></li>
    		<li><%= link_to 'Staff', staff_index_path %></li>
    		<li><%= link_to 'Students', students_path %></li>
    		<li><%= link_to 'Reports', reports_path %></li>
		</ul>

		<% end %>
	</div>
</nav>
<% end %>

			
