
<% if user_signed_in? %>
<nav class="main-nav">
	<div class="container">
		<% if current_user.active_role.name != "student" %>

		<ul>
			<li><%= link_to raw("<span class=\"glyphicon glyphicon-home\"></span>".html_safe), root_path %></li>
    		<li><%= link_to 'Dashboard', root_path() %></li>
    		<li><%= link_to 'Calendar', calendar_path %></li>
    		<li><%= link_to 'Events', calendar_path %></li>
    		<li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Coupons', coupons_path %></li>

    		<% if current_user.account.present? && current_user.active_role.name == "owner"%>
    		<li><%= link_to 'Staff', staff_index_path %></li>
    		<% end %>

    		<li><%= link_to 'Students', students_path %></li>
    		<li><%= link_to 'Reports', reports_path %></li>
		</ul>
		<% end %>
	</div>
</nav>
<% end %>

			
