<script>
$(document).ready(function() {
document.getElementById("profile_state").classList.add('form-control');
    $("#create_profile_area").hide();

    var phone = document.getElementById('profile_phone').value.toString();
    if (phone != "" && phone != "0"){ 
    number = "(" +phone.charAt(0)+phone.charAt(1)+phone.charAt(2)+ ") " 
        +phone.charAt(3)+phone.charAt(4)+phone.charAt(5)+ "-" 
        +phone.charAt(6)+phone.charAt(7)+phone.charAt(8)+phone.charAt(9)
    document.getElementById('profile_phone').value = number;
    }

    var num = document.getElementById('profile_emergency_contact_number').value.toString();
    if (num != "" && num != "0"){ 
    number = "(" +num.charAt(0)+num.charAt(1)+num.charAt(2)+ ") " 
        +num.charAt(3)+num.charAt(4)+num.charAt(5)+ "-" 
        +num.charAt(6)+num.charAt(7)+num.charAt(8)+num.charAt(9)
    document.getElementById('profile_emergency_contact_number').value = number;
    }
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 0,
        minView: 2,
        startView: 4,
        forceParse: 0,
        showMeridian: 1
    });

$('#toggle_form').on('click', function () {
    $("#search_profile_area").hide();
        $("#create_profile_area").show();

});

$('#toggle_search').on('click', function () {
    $("#search_profile_area").show();
        $("#create_profile_area").hide();

});

$('#profile_search').bind('ajax:success', function() { 
	var create_profile = present;
	if (create_profile == "true"){
    $("#search_profile_area").hide();
    $("#create_profile_area").show();
     document.getElementById('profile_email').value = document.getElementById('search_email_contains').value 
	}
	else {
		//$('#addInstructor').modal('hide');
		//$('body').removeClass('modal-open');
		//$('.modal-backdrop').remove();
		location.reload();
	}
});  

});
</script>

<% content_for :nav do %>
  <%= render 'layouts/nav/main' %>
<% end %>

  <div class="col-xs-8 col-xs-offset-2">
			<h3 class="page-title"> Studio Instructors </h3> 
		<div class="col-xs-7 pull-right" style="margin-top:-40px;" >
			<%= form_for @search, :url => staff_index_path, :html => {:method => :get, :id => "user_search"} do |f| %>
				<div class="input-group">
		      	<%= f.text_field :name_or_email_contains, :class => "form-control"  %>
		      	<span class="input-group-btn">
		          <button type="submit" class="btn btn-primary">Search</button>
		      	</span>
		    	</div><!-- /input-group -->
			<% end %>
		</div>

		<hr>

		<table class="table table-hover">
		    <thead>
		        <tr>
		          <th></th>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>Location</th>                             
		          <th>Certification</th>  
		          <th></th>                           
              	  <th><%= link_to raw("<span class=\"glyphicon glyphicon-plus-sign\" style=\"font-size:18px;\"></span>".html_safe), '',  :data => {:toggle => "modal", :target => "#addInstructor"} , :remote => true %></th>
		        </tr>
		    </thead>
		    <tbody>
				  <% if !@instructors.present? %>
		          <div class="zero" style="z-index: 0;">
		            <div class=""></div>
		            <div class="box box-rounded box-inset">
		              <div class="box-content">
		                <h3 class="center">Welcome to the Staff Page</h3><!-- Originally h6 -->
		                <div class="col-xs-10 col-xs-offset-1">
		                <p class="light">This is where you can add instructors and staff to your studio. </br> This is a necessary step before creating events for your students.</p>
		                <p class="light">To create an instructor click the plus icon at the end of the table <%= link_to raw("<span class=\"glyphicon glyphicon-plus-sign\" style=\"font-size:14px;\"></span>".html_safe), '',  :data => {:toggle => "modal", :target => "#addInstructor"} , :remote => true %> </p>
		                <p class="light">Search for an existing user by email address. If they don't have an account you can create a profile for them, otherwise on "Add New Profile" to skip straight to that step. </p>
						<!-- Profile.available_instructors -->
		                <% if true %>
		                <p class="light">If you are looking for new instructors to hire check our database: </p>

						<p class="center"><%= link_to 'Search Database', instructors_database_path(), class: 'btn btn-primary btn-large', :style => "width:260px;" %></p>
						</br>
						<% end %>

						<p class="light">We have more functionality planned here for managing studio staff. If you have any suggestions or requests please <a href="mailto:kachina@alum.mit.edu">contact us</a>. </p>
		                  </div>
		              </div>
		            </div>
		          </div>
		          <% else %>
		        <% @instructors.each do |user| %>
		        	<tr>
		        		<td><%= image_tag user.photo.image.url(:thumb), :width => "25px;"%></td>
		        		<td><%=link_to user.name %></td>
		        		<td><%=link_to user.email %></td>
		        		<td><%=  user.phone if user.phone %></td>
		        		<td><%= user.location %></td>
		        		<td><%= user.certification if user.certification %></td>
		        		<td><a class='btn btn-default btn-xs' href="mailto:<%=user.email%>">Message</a></td>
                  		<td><a class='btn btn-default btn-xs' href="#">X</a></td>
		        	</tr>
		        	    <% end %>
		        <% end %>
		    </tbody>
		</table>
    <hr>

		<div style="margin-top:0px; margin-left:auto; margin-right:auto; width:231px;">
		<%= link_to 'Search Database', instructors_database_path(), class: 'btn btn-primary btn-large', :style => "width:260px;margin-top:50px;" %>
		</div>

  <div class="modal" id="addInstructor" tabindex="-1" role="dialog" aria-labelledby="addInstructorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Staff Member</h4>
      </div>
      <%= render :partial => 'staff/add_profile'%>
 

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
