

  <div class="col-lg-8 col-lg-offset-2">
  	<div class="row">
  	<div class="col-lg-8">

    <h3> Upcoming Classes and Events</h3>
    <div class="divider-horizontal-regular"></div>

   	<% if @registered.present? %>

    		<table class="table table-hover">
				    <thead>
				        <tr>
				          <th>Date</th>
				          <th>Time</th>  
				          <th>Title</th>
				          <th>Instructor</th>
				          <th>Location</th>
				        </tr>
				    </thead>
				    <tbody>
				<% @registered.each do |event| %>
							<% if event.start_at <= DateTime.now %>
							<tr class="danger">
							<% elsif event.start_at < DateTime.now + 7%>
							<tr class="warning">
							<% else %>
				        	<tr>
				        	<% end %>
				        		<td><%= event.day_of_week %>, <%= event.date_condensed %></td>
		            			<td><%= event.start_at%> </td>
				        		<td><%= event.title %></td>
				        		<td><%= event.instructor%></td>
				        		<td> </td>
				        	</tr>
				        <% end %>
				</table>
	<% else %>
	    <p class="lead"> You are not registered for any events! Discover more <%= link_to "here", root_path() %></p>
	<% end %>

    <div class="divider-horizontal-regular"></div>
    <h3> Attendance History</h3>
    <div class="divider-horizontal-regular"></div>

    <table class="table table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Title</th>
				<th>Instructor</th>  
				<th>Location</th>
			</tr>
		</thead>
		
		<tbody>
			<% @attended.each do |event| %>
			<tr>
				<td><%= event.day_of_week %>, <%= event.date_condensed %></td>
		        <td><%= event.start_time%> </td>
				<td><%= event.title %></td>
				<td><%= event.instructor%></td>
		        <td></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class ="col-lg-4">
	<div class="panel panel-primary" style="margin-top:60px;">
		<div class="panel-heading">
	        <h5 class="panel-title">Active Memberships & Credits</h5>
	    </div>
	    <% @active = @profile.user.active_memberships %>
	    <% @active.each do |active| %>
	    <p><%= active.name %> with <%= active.client.name %></p>
	    <% end %>

	    <div class="panel-heading">
	        <h5 class="panel-title">Recent Purchases</h5>
	    </div>

		<table class="table table-hover">
				    <thead>
				        <tr>
				          <th>Name</th>
				          <th>Price</th>  
				          <th>Date</th>
				        </tr>
				    </thead>
				    <tbody>
				<% @purchases = Purchase.where(:customer_id => @profile.id) %>
				<% @purchases.each do |purchase| %>

				<% membership = Membership.find(purchase.product_id) %>
				        	<tr>
				        		<td><%= membership.name %></td>
				        		<td><%= membership.price%></td>
				        		<td><%= purchase.created_at.to_s %></td>						
				        	</tr>
				        <% end %>
				</table>
	</div>
</div>