
<div class="row">
	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

	<div class="col-lg-8 rightspan" style="min-height:600px;">
	<div class="row">
		<div class="col-lg-4">
		</div>
		<div class="col-lg-8">
			<h3><%= @user.name %></h3>
			<p>Email: <%= @user.email if @user.email %></p>
	 		<p>Phone: <%= @user.profile.phone if @user.profile.phone %></p>
			<p><%= @user.profile.description if @user.profile.description %></p>
			<p> <%= @user.profile.description %></p>
			<% if @user.studios.present? %>
		</br>
			<h5> Current Employment at: </h5>
			<% @user.studios.each do |studio|%>
			<p><%= studio.name %></p>
			<% end %>
			<% end %>

		</div>

		<% @events = @user.teaching_events_this_week %>
		<h4> Events for next Week </h4>
		<table class="table table-hover">
		    <thead>
		        <tr>
		          <th></th>
		          <th>Start Time</th>
		          <th>Title</th>
		          <th>Studio</th>
		          <th>Location</th>
		          <th>Duration</th>
		        </tr>       
		    </thead>
		    <tbody>
		        <% @events.each do |event| %>
		          <tr>
		            <td><%= event.day_of_week %></td>
		            <td><%= event.start_at.strftime("%I:%M %P") %></td>
		        	<td><%= link_to event.title, studio_event_path(@studio, event) %></td>
		        	<td><%= Studio.find(event.studio_id).name %></td>
		        	<td></td>
		        	<td><%= event.duration %></td>
		          </tr>
		        <% end %>
		    </tbody>
		</table>

	</div>

	</div>
</div>
</div>