<% content_for :nav do %>
  <%= render 'layouts/nav/settings' %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'layouts/sidebar' %>
<% end %>

  <div class="col-lg-8 col-lg-offset-2">
  		<div class="row">
		<div class="col-lg-3">
			<div><%= image_tag @profile.photo.image.url(:medium), :class => "avatar"%></div>
		</br>
			<% if @profile.email %>Email: 
			<a href="mailto:#{@profile.email}"><%= @profile.email%></a>
			<a href="mailto:#{@profile.email}"><span class="glyphicon glyphicon-send" style="color:black;"></span></a>
			<% end %>
	 		<p>Phone: <%= @profile.phone if @profile.phone %></p>
		</div>
		<div class="col-lg-8">
			<h3 class="page-title"><%= @profile.name %></h3>
			<hr>
			<p><%= @profile.description if @profile.description.present? %></p>
			<% if @profile.studios.present? %>
		</br>
			<h5> Current Employment at: </h5>
			<% @profile.studios.each do |studio|%>
			<p><%= studio.name %></p>
			<% end %>
			<% end %>
		</div>
		</div>

		<% if (@user.has_role? :professional) || (@user.profile.has_role? :instructor, :any) %>
		<div class="col-lg-12">
		<h4> Events for next Week </h4>
		<table class="table table-hover">
		    <thead>
		        <tr>
		          <th></th>
		          <th>Start Time</th>
		          <th>Title</th>
		          <th>Studio</th>
		          <th>Location</th>
		          <th>Duration</th>
		        </tr>       
		    </thead>
		    <tbody>
		        <% @events.each do |event| %>
		          <tr>
		            <td><%= event.day_of_week %></td>
		            <td><%= event.start_at.strftime("%I:%M %P") %></td>
		        	<td><%= link_to event.title, event_path(event) %></td>
		        	<td><%= event.id %></td>
		        	<td></td>
		        	<td><%= event.duration %></td>
		          </tr>
		        <% end %>
		    </tbody>
		</table>
	</div>
	<% end %>
	</div>

