   <script type="text/javascript">
        $(document).ready(function() {
            $('[data-behaviour~=datepicker]').datepicker({
                "format": "yyyy-mm-dd",
                "weekStart": 0,
                "autoclose": true
            })
        });
    </script>

  <%= render "layouts/sidebar" %>

		<h3> Coupons</h3>
			<div class="pull-right" style="margin-top:-40px;">
				  <%= link_to 'New Coupon', new_studio_coupon_path(@studio),
        :class => 'btn btn-primary btn-sm' ,  :data => {:toggle => "modal", :target => "#myModal"} , :remote => true, :html => {:style => "margin-top:5px;"}%>

			</div>
			<div class="divider-horizontal-regular"></div>
				<table class="table table-hover" style="width:100%;">
				    <thead>
				        <tr>
				          <th>Title</th>
				          <th>Type</th>  
				          <th>Amount Off</th>
				          <th>Duration</th>                             
				          <th>Max Redemptions</th>                          
				          <th>Redeem By</th>   
				          <th></th>
				          <th></th>                          
				        </tr>
				    </thead>
				    <tbody>
				    	<% @coupons = @studio.coupons.find(:all)%>
				        <% @coupons.each do |coupon| %>
				        	<tr>
				        		<td><%= coupon.title %></td>
				        		<td><%= coupon.duration%></td>
				        		<td><%= coupon.amount_off if coupon.amount_off?%> 
				        			<%= coupon.percent_off if coupon.percent_off?%>
				        		</td>						
				        		<td><%= coupon.duration_in_months if coupon.duration_in_months?%></td>		        		<td><%= coupon.max_redemptions if coupon.max_redemptions?%></td>
								<td><%= coupon.redeem_by if coupon.redeem_by?%></td>
								<td><%= link_to 'Edit', edit_studio_coupon_path(coupon.studio, coupon),  :data => {:toggle => "modal", :target => "#editModal#{ coupon.id}"}, :remote => true, :class => 'btn btn-default btn-xs' %>	</td>
								 		<%= render :partial => 'edit', :locals => {:coupon => coupon}%>
     							<td><%= button_to 'Delete', [coupon.studio, coupon], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :class => 'btn btn-default btn-xs' %></td>
				        	</tr>
				        <% end %>
				</table>
</div>

<div>
 		<%= render 'new' %>
</div>

