
<link rel='stylesheet' type='text/css' href='fullcalendar.css' />
<script type='text/javascript' src='jquery.js'></script>
<script type='text/javascript' src='fullcalendar.js'></script>

<script> 
$(document).ready(function() {
    //NOTE that I am selecting on a class here
    $('.toggle').click(function(e) {
        //You also need to prevent the default behaviour of 
        e.preventDefault();
        $("#map-container").toggle();
    });

	$('#calendar').fullCalendar({
		defaultView: 'agendaWeek',
		ignoreTimezone: false,
		eventColor: 'blue',
		minTime: 6,
		height: 500,
		header: {
	  	left: 'prev,next today',
	  	center: 'title',
	  	right: 'month,agendaWeek,agendaDay',
	  	},
	    eventSources: [{
	            url: '/studios/1/events/', // use the `url` property
	    }, 
	    {
	            url: '/studios/4/events/', // use the `url` property
	    }]
	});
});
</script>

<div class="row">
	<% if user_signed_in? %>
		<% if current_user.has_role? :owner, :any %>
			<%= render 'dashboard' %>
		<% else %>

	<div class="col-lg-8 col-lg-offset-2">
		<!-- Would like to have an icon for the maps so that if the student has a studio they do not have to see the map but they can toggle it at any time. Displays events for primary studio automatically. 
		-->
		<h3>Search for your studio on the map and start getting organized.</h3> 
		<p> If you can't find yours send an invitation so that they can sign up for our services. <a> Send Invite </a> </p>

	<a href="#" class="toggle">Hide Map</a>
    <div id="map-container">
	 	<%= gmaps(:map_options => {:do_clustering => false}, :markers => {:data => @json}) %>
	</div>

	<div class="panel panel-primary" >
		<div class="panel-heading">
	        <h5 class="panel-title">List of Classes for <%= current_user.name %> </h5>
	    </div>

		<div id='calendar'></div>
	</br>

		<!-- TO DO: Update calendar with the events for the studio selected (show in muted color). When a class is selected show the payment options in the section below. Have the payment options link to a purchase form. When the student purchases a payment plan this section is only displayed if the payment plan doesn't apply. Otherwise button shows [Register Class] and changes color of event.
		-->

		<div class="row">
  		<div class="col-lg-6" style="padding-right:30px;">
  			<h3> Offers for Studio One </h3>
  			<p> Look through the offered payment options for the classes that you have selected </p>
  		</div>
	  	<div class="col-lg-5" style="margin-top:25px;">
			<div class="panel panel-primary" >
				<div class="panel-heading">
	        		<h5 class="panel-title">Studio Offerings </h5>
	    		</div>
			<ul class="list-group" style="list-style-type:none;">
			  <li>			  	<%= link_to "Monthly Membership", new_studio_product_path(Studio.first), class: "list-group-item"%></li>
			    <li><%= link_to_function "Drop-In Class", current_user.customer.purchase!(Membership.first, "membership"), class: "list-group-item"%>
			</ul>
			</div>
		</div>
		</div>
	</div>

	<% if !current_user.has_role? :owner, :any %>
		<p style="margin-left:100px;"><b>Are you a studio owner?</b> To be able to use our full suite of services please:

		<% if current_user.customer.present? %>
	  		<%= link_to 'Create a Studio', new_studio_path(), class: 'btn btn-mini', style: 'margin-top:-3px;' %>
	    <% else %>
							  <%= link_to 'Add an Account', new_user_account_path(current_user.id),
        :class => 'btn btn-primary btn-sm' ,  :data => {:toggle => "modal", :target => "#accountModal"} , :remote => true, :html => {:style => "margin-top:5px;"}%></p>
         		<%= render 'accounts/new' %>

		<% end %>
	<% end %>

	</div>
		<%end%>
	<% else %>
		<%= render 'landing_page' %>
	<% end %>
  	</div>
</div>
