<script>
$(document).ready(function() {
$("#create_profile_area").hide();
$("#existing_profile_area").hide();
$("#product-display").hide();
$("#payment-details").hide();

$('#toggle_form').on('click', function () {
    $("#search_profile_area").hide();
        $("#create_profile_area").show();

});

$('#toggle_search').on('click', function () {
    $("#search_profile_area").show();
        $("#create_profile_area").hide();
});

$('#profile_search').bind('ajax:success', function() { 
  alert("Success!");
});  

});
</script>

<div class="modal-body">

<div class="row" id="search_profile_area">
      <%= form_for 'search', :url => search_students_path, :html => {:id => "profile_search"}, :method => :get, :remote => true do |f| %>
        <div class="input-group">
            <%= f.text_field :email_contains, :class => "form-control", :placeholder => "search by email"  %>
            <%= hidden_field_tag "resource_type", current_user.active_role.resource_type %>
            <%= hidden_field_tag "resource_id", current_user.active_role.resource_id %>

            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" id="profile_search">Search</button>
            </span>
          </div><!-- /input-group -->
      <% end %>

    <div class="divider-horizontal-regular"></div>
      <p class="center"><a href="#" id="toggle_form" class="btn btn-default btn-sm">
      Or add new profile</a></p>
</div>


<div id="existing_profile_area">
<%= form_for('profile', :url => register_event_path(@event), :method => :get) do |p| %>
<div class="form-group">
<div class="row">

<div id="user_info"></div>

<div id="product-display">

  <p><b>Select Product to Purchase: </b></p>
    <div class="row">
      <div class="col-lg-6">
      <p><b>Memberships</b></p>
      <%= select_tag "memberships", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(@object.memberships, "id", "name" ), :required => true, :class => "form-control", :html => {:id => "memberships_select"}%></p> 
      </div>
    
      <div class="col-lg-6">
      <p><b>Pay Per Class</b></p>
      <%= select_tag "packages", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(@object.packages, "id", "name" ), :required => true, :class => "form-control", :html => {:id => "memberships_select"}%></p>
      </div>
    </div>
</div>

<div id="product_info"></div>

<div id="payment-details">
  <%= render "customers/card_form" %>
</div>

<div id="waiver">
  <%= render "events/waiver", :event => @event %>
</div>



  </div><!-- End of row -->
</div><!-- End of form-group -->
    <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
    </div>     
    </div>     
  </div><!-- End of collapseable -->



<div id="create_profile_area">

      <p class="center"><a href="#" id="toggle_search" class="btn btn-primary btn-sm">
      Search Existing Students</a></p>
      <div class="divider-horizontal-regular"></div>

<%= form_for(Profile.new, :url => new_registration_event_path(@event), :id => "search_students") do |p| %>
<div class="form-group">
<div class="row">
      <div class="col-lg-12">
    <p><%= p.label :name %><br />
    <%=h p.text_field :name, :class => "form-control"%></p>
    <p><%= p.label :email %><br />
    <%=h p.email_field :email, :class => "form-control", :id => "new_profile_email" %></p>
    <p><%= p.label :address %><br />
    <%=h p.text_field :address, :class => "form-control" %></p>
      
      <div class="row">
          <div class="col-lg-8">
            <p><%= p.label :city %><br />
              <%=h p.text_field :city, :class => "form-control" %></p>  
          </div>
          <div class="col-lg-4">
            <p><%= p.label :state %><br />
              <%= p.select :state, STATES, {:class => "form-control"} %></p>

          </div>
      </div>
    </div>
    <div class="col-lg-12">
    <p><%= p.label :dob, "Date of Birth" %><br />
    <%=h p.text_field :dob, 'data-date' => Date.today, :class => "form_datetime form-control", 'data-date-format'=>"M d yyyy", :type => "text"%></p>

    <p><%= p.label :phone %><br />
      <%=h p.telephone_field :phone, :class => "form-control" %></p>

    <p><%= p.label :emergency_contact_name %><br />
    <%=h p.text_field :emergency_contact_name, :class => "form-control"%></p>

    <p><%= p.label :emergency_contact_number %><br />
    <%=h p.text_field :emergency_contact_number, :class => "form-control"%></p>

  </div><!-- End of row -->
</div><!-- End of form-group -->

  <p><b>Select Product to Purchase: </b></p>
    <div class="row">
      <div class="col-lg-6">
      <p><b>Memberships</b></p>
      <%= select_tag "memberships", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(@object.memberships, "id", "name" ), :required => true, :class => "form-control", :html => {:id => "memberships_select"}%></p> 
      </div>
    
      <div class="col-lg-6">
      <p><b>Pay Per Class</b></p>
      <%= select_tag "packages", content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(@object.packages, "id", "name" ), :required => true, :class => "form-control", :html => {:id => "memberships_select"}%></p>
      </div>
    </div>

        <p><b>Add Payment Information: </b></p>

          <%= render "customers/card_form" %>

        <%= render "events/waiver", :event => @event %>

    </div><!-- End of body -->
    <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
    </div>     
    </div>     
  </div><!-- End of collapseable -->
</div>
