<script>
$(document).ready(function() {
$("#create_profile_area").hide();

$('#toggle_form').on('click', function () {
    $("#search_profile_area").hide();
        $("#create_profile_area").show();

});

$('#toggle_search').on('click', function () {
    $("#search_profile_area").show();
        $("#create_profile_area").hide();

});

});
</script>

<div class="modal-body">

<div id="search_profile_area">
<a href="#" id="toggle_form" style="margin-left:100px;" class="center">
Or add new profile
</a>
      <%= form_for 'search', :url => add_registration_event_path(@event), :method => :get do |f| %>
        <div class="input-group">
            <%= f.text_field :email_contains, :class => "form-control", :placeholder => "search by email"  %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" id="profile_search">Search</button>
            </span>
          </div><!-- /input-group -->
      <% end %>
</div>

<div id="create_profile_area">
<a id="toggle_search">Search</a>

<%= form_for(Profile.new, :url => new_registration_event_path(@event)) do |p| %>
<div class="form-group">
<div class="row">
      <div class="col-lg-12">
    <p><%= p.label :name %><br />
    <%=h p.text_field :name, :class => "form-control"%></p>
    <p><%= p.label :email %><br />
    <%=h p.email_field :email, :class => "form-control" %></p>
    <p><%= p.label :address %><br />
    <%=h p.text_field :address, :class => "form-control" %></p>
      
      <div class="row">
          <div class="col-lg-8">
            <p><%= p.label :city %><br />
              <%=h p.text_field :city, :class => "form-control" %></p>  
          </div>
          <div class="col-lg-4">
            <p><%= p.label :state %><br />
              <%= p.select :state, STATES, {:class => "form-control"} %></p>

          </div>
      </div>
    </div>
    <div class="col-lg-6">
    <p><%= p.label :description %><br />
    <%=h p.text_area :description, :class => "form-control", :cols => 20, :rows => 10 %></p>  
    <p class="help-block">Note: This will appear in your profile.</p>
    </div>
    <div class="col-lg-6">
    <p><%= p.label :dob, "Date of Birth" %><br />
    <%=h p.text_field :dob, 'data-date' => Date.today, :class => "form_datetime form-control", 'data-date-format'=>"M d yyyy", :type => "text"%></p>

    <p><%= p.label :phone %><br />
      <%=h p.telephone_field :phone, :class => "form-control" %></p>

    <p><%= p.label :emergency_contact_name %><br />
    <%=h p.text_field :emergency_contact_name, :class => "form-control"%></p>

    <p><%= p.label :emergency_contact_number %><br />
    <%=h p.text_field :emergency_contact_number, :class => "form-control"%></p>

    </br><p><b> Certification </b></p></br>
    <%= p.fields_for :photo do |asset| %>
    <p><%= asset.label :image, "Profile Photo" %><br />
    <%= asset.file_field :image, :class => "form-control"%></p>  
    <% end %>
  </div><!-- End of row -->
</div><!-- End of form-group -->

    </div><!-- End of body -->
    <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
    </div>     
    </div>     
  </div><!-- End of collapseable -->
</div>
