
<script>
$(document).ready(function() {
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        autoclose: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
      });

});
</script>

<div class="modal-body">
<%= form_for([@studio, @event], :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="form-group">   
    <div class="form-group  col-lg-6">
    <%= f.label :title %>
    <%= f.text_field :title, :as => :string, :input_html => { :style => 'width: 330px'}, :class => "form-control"  %>
    <%= f.label :description %>
    <%= f.text_area :description, :as => :text, :input_html => { :style => 'width: 330px', :rows => 10 }, :class => "form-control" %>
    </div>

    <div class="form-group  col-lg-5" style ="margin-left:10px;">
        <p><%= f.label :start_at, "Start Time" %><br />
    <%=h f.text_field :start_at, 'data-date' => Date.today, :class => "form_datetime form-control", :type => "text"%>
    <span class="add-on"><i class="icon-th"></i></span>

  </p>

    <%= f.label :end_at %>
    <%= f.text_field :end_at, :type => 'datetime',:class => "form-control" %>
    <%= f.label :instructor%>
    <%= f.text_field :instructor, :class => "form-control" %>
    <%= f.hidden_field :studio_id, :value => @studio.id%>

    </div>
  </div>
      <div class="modal-footer">
    <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
    </div>     
    </div>     
