

<div>
  <div class="col-lg-4">
  <h3>Studio Classes</h3>
</div>

<div class="col-lg-6" style ="margin-top:15px;">
  <%= form_for @search, :url => calendar_path, :html => {:method => :get} do |f| %>
    <div class="input-group">
        <%= f.text_field :title_contains, :class => "form-control"  %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Search</button>
        </span>
      </div><!-- /input-group -->
  <% end %>
</div> 

      <div class="col-lg-2" style ="margin-top:15px;">
                <%= link_to 'Create an Event', new_studio_event_path(@studio),
        :class => 'btn btn-primary btn-sm pull-right' ,  :data => {:toggle => "modal", :target => "#newModal"} , :remote => true, :html => {:style => "margin-top:20px;"}%>
      </div>
</div>


    <table class="table table-hover">
        <thead>
            <tr>
              <th></th>
              <th>Start Time</th>
              <th>Title</th>
              <th>Location</th>
              <th>Duration</th>
            </tr>       
        </thead>
        <tbody>
            <% @events.each do |event| %>
              <tr>

              <td><%= event.title%></td>
              <td></td>
                <td><%= link_to 'Edit', edit_studio_event_path(event.studio, event),  :data => {:toggle => "modal", :target => "#editModal#{event.id}"}, :remote => true, :class => 'btn btn-default btn-xs' %>  </td>
                    <%= render :partial => 'events/edit', :locals => {:event => event}%>
                  <td><%= button_to 'Delete', [event.studio, event], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :class => 'btn btn-default btn-xs' %></td>
              </tr>
            <% end %>
        </tbody>
    </table>


<div class="well">
  <div id="datetimepicker1" class="input-append date">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>

<div>
    <%= render 'events/new' %>
</div>
