<script> 
$(document).ready(function() {

    document.getElementById('event_instructor_id').classList.add('form-control'); 

    $('.form_datetime').datetimepicker({
        weekStart: 1,
        autoclose: 1,
        maxView: 3,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
      });

    $("#delete_event").observe('ajax:success', function(evt, status, data, xhr) {
        $(this).closest('tr').fadeOut();  
    });

});
</script>

<% content_for :nav do %>
  <%= render 'layouts/nav/calendar' %>
<% end %>

<div class="col-lg-8 col-lg-offset-2">
  <div class="row">
  <div class="col-lg-6">
    <h3 class="page-title">Event Archive</h3>
  </div>

  <div class="col-lg-6">
    <%= form_for @search, :url => calendar_path, :html => {:method => :get} do |f| %>
      <div class="input-group">
          <%= f.text_field :title_contains, :class => "form-control"  %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
          </span>
        </div><!-- /input-group -->
    <% end %>
  </div> 
</div>
<hr>


    <table class="table table-hover">
        <thead>
            <tr>
              <th>Start Time</th>
              <th>Date</th>
              <th>Title</th>
              <th>Location</th>
              <th>Duration</th>
              <th>Cost</th>
              <th>Attended</th>
              <th><%= link_to raw("<span class=\"glyphicon glyphicon-plus-sign\" style=\"font-size:18px;\"></span>".html_safe), '',  :data => {:toggle => "modal", :target => "#newModal"} , :remote => true %></th>                          
            </tr>       
        </thead>
        <tbody>
            <% @events.each do |event| %>
              <tr>

              <td><%= event.start_time %></td>
              <td><%= event.day_of_week %> <%= event.date_condensed %></td>
              <td><%= link_to event.title, event_path(event)%></td>
              <td><%= event.url %></td>
              <td><%= event.duration %></td>
              <td><%= event.duration %></td>
              <td><%= event.attendance_descriptor %></td>
              <td><%= link_to raw("<span class=\"glyphicon glyphicon-remove\" style=\"font-size:18px;color:#999;\"></span>".html_safe), [event], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :id=>'delete_event', :remote => true  %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div>
    <%= render 'events/new'%>
</div>