<h1>Listing Events</h1>
<ul id="event_list">
<% @events.each do |c| %>
<li><%= link_to c.title, :action => 'show', :id => c.id %>
<%= "(#{c.title})" -%></li>
<% end %>
</ul>


<p id="add_link"><%= link_to_function("Add an Event",
"Element.remove('add_link'); Element.show('add_event')")%></p>

<div id="add_event" style="display:none;">
<%= form_tag(:url => {:action => 'create'},
    :update => "event_list", :position => :bottom,
    :html => {:id => 'event_form'}, :remote => true)%>
Name: <%= text_field "event", "title" %>
<%= submit_tag 'Add' %>
<%= end_form_tag %>
</div>