<script> 
$(document).ready(function() {

    $('.form_datetime').datetimepicker({
        weekStart: 1,
        autoclose: 1,
        maxView: 3,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
      });

});
</script>

  <%= render "layouts/sidebar" %>

  <div class="col-lg-10">
	<h3><%= @event.title %></h3>
    
    <% if (current_user.active_role.resource_type == "Studio") || (current_user.active_role.name == "professional" )%>

    	<p class="pull-right" style="margin-top:-30px;"><%= link_to 'Back', :back %> |

	     <%= link_to 'Edit', edit_event_path(@event),  :data => {:toggle => "modal", :target => "#editModal#{@event.id}"}, :remote => true %>  |	
	     <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' } %></p>
	    <div class="col-lg-12">
		<%= link_to 'CheckIn Page', checkin_event_path(@event),
	        :class => 'btn btn-primary pull-right', :style => "margin-top:-38px;margin-right:-150px;"%>
		<%= link_to ' Request Sub ', '',
	        :class => 'btn btn-default pull-right', :style => "margin-right:-150px;"%></div>
   	<div class="divider-horizontal-regular"></div>

	<div class="row" style="margin-left:20px;margin-top:20px;">

    <div class="col-lg-4">
<!-- Use professional_id in form instead of instructor, modal method for instructor-->
	<p><b>Taught by:</b> <%= @event.instructor %><p>
	<p><b>Date:</b>  <%= @event.date %><p>
	<p><b>Time:</b>  <%= @event.start_time %> - <%= @event.end_time %><p>
	<p><b>Website:</b> 	
		<% if @event.custom_url.present? %>
		<a href="<%= @event.url %>"><%= @event.url %></a>
		<% else %>
		<i> enter remote link to embed in calendar </i><p>
		<% end %>
	</div>

	<div class="col-lg-7">
	<% if @event.description.present?%>	
	<p><b>Description</b></p>
	<p><%= @event.description %></p>
	<% end %>
	</div>
	</div>

	<div class="col-lg-12">
		<div class="divider-horizontal-regular"></div>
		<p class="lead"> Registration List </p>
		<p class="pull-right" style="margin-top:-45px;">
		<a style = "margin-top:5px;" href="#registerModal" id="#registerModal" data-toggle="modal">+ add new</a>
<!-- use locals in modal -->

		<% if @registered.present? %>
		<div class="divider-horizontal-regular"></div>
		<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th> </th>      
				<th> </th>                    
			</tr>
		</thead>
		<tbody>
<!-- Make sure it shows canceled by student. Add cancel as model method-->
			<% @registered.each do |registered| %>
				<% if registered.canceled_by_student?(@event) %>
					<tr class="danger">
				<%else %>
					<tr>
				<%end %>
			<td><%= registered.name %></td>
        	<td><%= link_to 'CheckIn', 
        	add_attendance_event_user_path(@event, registered), :method=> :get, :class=>'btn btn-default btn-mini pull-right' %>			
        		<% if !registered.canceled_by_student?(@event) %>
				<%= link_to 'Cancel', 
        		cancel_registration_event_user_path(@event, registered), :class=>'btn btn-default btn-mini pull-right' %>
        		<%end %></td>
        	<td><%= link_to 'x', remove_registration_event_user_path(@event, registered), :class=>"close", :type => 'button', :style=>"margin-top:-5px;"%></td>
        	</tr>
        	<% end %>
		</tbody>
	</table>
		<% end %>


		<div class="divider-horizontal-regular"></div>
				<p class="lead"> Attendees </p>
		<% @attendees = @event.attendees %>
		<% if @attendees.present? %>
		<div class="divider-horizontal-regular"></div>

		<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Credits Left</th>
				<th></th>                          
			</tr>
		</thead>
		<tbody>
		<% @attendees.each do |attendee| %>
		<% if attendee.user.present? %>	
		<% end %>	
			<tr>
				<td><%= attendee.name %></td> 
				<td>unlimited</td> 
				<td></td> 
			</tr>
			<% end %>
		</tbody>
	</table>

		<% end %>
		<% end %>
</div>
</div>


 <div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register for <%= @event.title %></h4>
      </div>
      <%= render "add_registration", :account_type => "example" %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal" id="check-in" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Thanks for signing in!</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

		<% if @professional.present? %>
	     <%= render :partial => 'events/edit', :locals => {:account_type => @professional, :event => @event}%>
	    <% elsif @studio.present? %>
	     <%= render :partial => 'events/edit', :locals => {:account_type => @studio, :event => @event}%>
	     <% end %>