
  <%= render "layouts/sidebar" %>

  <div class="col-lg-10">

	<% if (current_user.has_role? :owner) || (current_user.has_role? :professional) %>

	<h3><%= @event.title %></h3>
    <p class="pull-right" style="margin-top:-30px;"><%= link_to 'Back', :back %> |
    <% if @professional.present? %>

    <% else %>
     <%= link_to 'Edit', edit_studio_event_path(@studio, @event),  :data => {:toggle => "modal", :target => "#editModal#{@event.id}"}, :remote => true %>  |	
     <%= link_to 'Delete', [@studio, @event], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' } %></p>
     <%= render :partial => 'show_edit', :locals => {:event => @event}%>
     <% end %>

   	<div class="divider-horizontal-regular"></div>

	<div class="row" style="margin-left:20px;margin-top:20px;">
	<div class="col-lg-4">
	<p><b>Taught by:</b> <%= @event.instructor %><p>
	<p><b>Date:</b>  <%= @event.date %><p>
	<p><b>Time:</b>  <%= @event.start_time %> - <%= @event.end_time %><p>
	<p><b>Website:</b> 	<i> enter to link to from calendar </i><p>
	</div>
	<div class="col-lg-7">
	<% if @event.description.present?%>	
	<p><b>Description</b></p>
	<p><%= @event.description %></p>
	<% end %>
	</div>
	</div>

                <%= link_to 'Register', new_user_registration_path(),
        :class => 'btn btn-primary' ,  :data => {:toggle => "modal", :target => "#registerModal"} , :remote => true, :html => {:style => "padding:15px 30px 15px 30px; color:white;"}%>

	<div class="col-lg-12">
		<% @registered = @event.registered_events.where(:attended => false).where(:canceled => false ) %>
		<div class="divider-horizontal-regular"></div>
		<p class="lead"> Registration List </p>
		<% if @registered.present? %>
		<div class="divider-horizontal-regular"></div>
		<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>                          
			</tr>
		</thead>
		<tbody>
			<% @registered.each do |registered| %>
			<% user = User.find(registered.user_id) %>
			<tr>
			<td><%= user.name %></td>
			<% if @professional.present? %>
			<% else %>
        	<td><%= button_to 'CheckIn', 
        	checkin_studio_user_directly_path(@studio, @event, user), method: :checkin_user_directly, :class=>'btn btn-default btn-mini pull-right' %></td>
        	<% end %>
        	</tr>
        	<% end %>
		</tbody>
	</table>
		<% end %>


		<div class="divider-horizontal-regular"></div>
				<p class="lead"> Attendees </p>
		<% @attendees = @event.registered_events.where(:attended => true).where(:canceled => false ) %>
		<% if @attendees.present? %>
		<div class="divider-horizontal-regular"></div>

		<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Credits Left</th>
				<th></th>                          
			</tr>
		</thead>
		<tbody>
		<% @attendees.each do |attendee| %>
		<% user = Profile.find(attendee.user_id) %>		
			<tr>
				<td><%= user.name %></td> 
				<td>unlimited</td> 
				<td></td> 
			</tr>
			<% end %>
		</tbody>
	</table>

		<% end %>
		<% end %>
</div>
</div>


 <div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register Basic Account</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal" id="check-in" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Thanks for signing in!</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
