<script>    

$(document).ready(function() {

  $('#card_year').datetimepicker({
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 0,
        minView: 4,
        startView: 4,
        forceParse: 0,
        showMeridian: 1,
    });
});
</script>

<p><%= label_tag :card_number, "Credit Card Number" %></br>
<%=h text_field_tag :card_number, nil, name: nil, :class => "form-control"%></p>
          
  <div class="row">
    <div class="col-xs-4">
    <p><%= label_tag :card_code, "Security Code (CVV)" %></br>
    <%=h text_field_tag :card_code, nil, name: nil, :class => "form-control"%></p></div>
          
    <div class="col-xs-4">
    <p><%= label_tag :card_month, "Card Expiration" %></br>
    <%= select_tag :card_month, options_for_select(MONTHS), {:class => "form-control"} %></p></div>
          
    <div class="col-xs-4">
    <p style ="margin-top:5px;"><%= label_tag :card_year, " " %></br>
    <%=h text_field_tag :card_year, nil, name: nil, :class => 'datepicker form-control', :id => 'card_year', 'data-date-format'=>"yyyy"  %></p></div>
  </div>
