<script language="javascript">
var id = "#new_customer";  
</script>
<%= javascript_include_tag "stripe.js" %>

  <div class="row" style="padding-left:30px;padding-right:30px;padding-bottom:10px;">
    <h4>Add Credit Card </h4>

    <%= form_for([current_user, @customer], :html => { :class => 'form-horizontal', :remote => true }) do |f| %>


      <%= f.hidden_field :plan_id, :value => 1000 %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :email, :value => current_user.email %>

        <div class="form-group" >
          <%= label_tag :card_number, "Credit Card Number" %>
          <%=h text_field_tag :card_number, nil, name: nil, :class => "form-control"  %>
 
         <div class="row">
          <div class="form-group col-lg-4">
          <%= label_tag :card_code, "Security Code (CVV)" %>
          <%=h text_field_tag :card_code, nil, name: nil, :class => "form-control"  %>
          </div>
          <div class="form-group col-lg-4">
          <%= label_tag :card_month, "Card Expiration" %>
          <%=h text_field_tag :card_month, nil, name: nil, :class => 'datepicker form-control'  %>
          </div>
          <div class="form-group col-lg-4">
          <%= label_tag :card_year, " " %>
          <%=h text_field_tag :card_year, nil, name: nil, :class => 'datepicker form-control'  %>
          </div>
        </div>
        </div>
      <div id="stripe_error">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>
      <div class="form-actions pull-right">
        <%= f.submit "Update", :class =>"submit-button btn btn-primary", :id => "new_customer"%>

    </div>
  <% end %>
</div>

