	<h3>Manage Studio</h3>
	<div class="divider-horizontal"></div>
	
	<%= link_to 'Dashboard', root_path, :style => "padding-top:10px;"%>
	<div class="divider-horizontal"></div>
			
	<%= link_to 'Calendar', calendar_path %>
	<div class="divider-horizontal"></div>
			
	<%= link_to 'Students', students_path %>
	<div class="divider-horizontal"></div>
			
	<%= link_to 'Products', products_path %>
	<div class="divider-horizontal"></div>
			
	<%= link_to 'Coupons', coupons_path %>
	<div class="divider-horizontal"></div>