<script>
  $(document).ready(function(){
	document.getElementById('membership_interval').classList.add('form-control');
	document.getElementById('package_interval').classList.add('form-control');

  	var raw_package_price = document.getElementById('package_price').value/100;
    var raw_membership_price = document.getElementById('membership_price').value/100;

   if (raw_package_price != ""){
    var formated_package_price = '$' + raw_package_price;
    document.getElementById('package_price').value = formated_package_price;
    }

    if (raw_membership_price != ""){
    var formated_membership_price = '$' + raw_membership_price;
    document.getElementById('membership_price').value = formated_membership_price;
    }

    $("#add_package").submit(function(event) {
            $('.submit-button').attr("disabled", "disabled");
    var price_string = document.getElementById('package_price').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, '');
    var price_int = Number(price_string)*100;
    document.getElementById('package_price').value = price_int;
            $('#add_package').get(0).submit();

    });

    $("#add_membership").submit(function(event) {
            $('.submit-button').attr("disabled", "disabled");
    var price_string = document.getElementById('membership_price').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, '');
    var price_int = Number(price_string)*100;
    document.getElementById('membership_price').value = price_int;
            $('#add_membership').get(0).submit();

    });
});
</script>

  <%= render "layouts/sidebar" %>
<div>
<h3> Memberships</h3>
<div class="pull-right" style="margin-top:-40px;">
	<%= link_to 'New membership', new_user_membership_path(@professional),
        :class => 'btn btn-primary btn-sm' ,  :data => {:toggle => "modal", :target => "#newModalMembership"} , :remote => true, :html => {:style => "margin-top:5px;"}%>

			</div>
			<div class="divider-horizontal-regular"></div>
				<table class="table table-hover">
				    <thead>
				        <tr>
				          <th>Title</th>
				          <th>Price</th>  
				          <th>Billing Frequency</th>
				          <th>Subscription Type</th>                        
				          <th>Trial Period</th>
				          <th></th>                          
				        </tr>
				    </thead>
				    <tbody>
				        <% @professional.memberships.each do |membership| %>
				        	<tr>
				        		<td><%= membership.title %></td>
				        		<td><%= membership.format_price%></td>
				        		<td><%= membership.billing_frequency%></td>	
				        		<td><%= membership.type %></td>					
				        		<td><%= membership.trial_period %></td>
    							<td><%= button_to 'Delete', [@professional, membership], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :class => 'btn btn-default btn-xs' %></td>
				        	</tr>
				        <% end %>
				    </tbody>
				</table>
			</div>
<div>
<h3> Packages</h3>
<div class="pull-right" style="margin-top:-40px;">
	<%= link_to 'New package', new_user_package_path(@professional),
        :class => 'btn btn-primary btn-sm' ,  :data => {:toggle => "modal", :target => "#newModalPackage"} , :remote => true, :html => {:style => "margin-top:5px;"}%></div>
<div class="divider-horizontal-regular"></div>
				
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Quantity</th>  
				<th>Expiration</th>
				<th>Price</th>
				<th></th>
				<th></th>                          
			</tr>
		</thead>
		<tbody>
			<% @professional.packages.each do |package| %>
			<tr>

				<td><%= package.title if package.name %></td> 
				<td><%= package.quantity%></td>
				<td><%= package.expiration%></td>						
				<td><%= package.format_price%></td>		        		
				<td><%= link_to 'Edit', edit_studio_package_path(package.studio, package),  :data => {:toggle => "modal", :target => "#editModalPackage#{ package.id}"}, :remote => true, :class => 'btn btn-default btn-xs' %>	</td>
 				<%= render :partial => 'packages/edit', :locals => {:package => package}%>
    			<td><%= button_to 'Delete', [@professional, package], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :class => 'btn btn-default btn-xs' %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div>
 		<%= render 'memberships/new' %>
 		<%= render 'packages/new' %>
</div>
