<script> 
$(document).ready(function() {

});
</script>

<% content_for :nav do %>
  <%= render 'layouts/nav/admin' %>
<% end %>

<div class="col-xs-8 col-xs-offset-2">
          <% if !@studios.present? %>
          <div class="zero" style="z-index: 0;">
            <div class=""></div>
            <div class="box box-rounded box-inset">
              <div class="box-content">
                <h3 class="center">Welcome to the Events Page</h3><!-- Originally h6 -->
                <div class="col-xs-10 col-xs-offset-1">
                <p class="light">This is where you can create events for your students. When you create an event it will be automatically added to your embeddable calendar and added to the searchable database for students.</p>
                <p class="light">To create an event click the plus icon at the end of the table columns. </p>
                <p class="light">Add the event name, description, price, location, start and end time. 
                  <% if current_user.active_role.resource_type == "Studio" && !current_user.active_role.resource.staff.present?%> <strong>Make sure to add instructors to your studio before continuing!</strong><% end %> </p>

                <p class="light">Select the checkbox if you do not want unlimited memberships or package credits to apply to this event. Click on the Manage link to take care of managing applicable coupons for events.</p>

                  </div>
              </div>
            </div>
          </div>
          <% end %>
  <div class="row">
  <div class="col-xs-6">
    <h3 class="page-title">All Studios</h3>
  </div>

  <div class="col-xs-6">
    <%= form_for @search, :url => studios_path, :html => {:method => :get} do |f| %>
      <div class="input-group">
          <%= f.text_field :name_contains, :class => "form-control"  %>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Search</button>
          </span>
        </div><!-- /input-group -->
    <% end %>
  </div> 
</div>
<hr>

    <table class="table table-hover">
        <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>#</th>
              <th></th>
              <th><%= link_to raw("<span class=\"glyphicon glyphicon-plus-sign\" style=\"font-size:18px;\"></span>".html_safe), '',  :data => {:toggle => "modal", :target => "#newModal"} , :remote => true %></th>                          
            </tr>       
        </thead>
        <tbody>
            <% @studios.each do |studio| %>
              <tr>

              <td><%= link_to studio.name, '',  :data => {:toggle => "modal", :target => "#editModal#{studio.id}"}, :remote => true %>  </td>
                    <%= render :partial => 'studios/edit', :locals => {:studio => studio}%>

              <td><%= studio.locations.first.gmaps4rails_address %></td>
              <td><%= studio.locations.count.to_s %></td>

              <td><%= raw("<a href='http://#{studio.website}' target=\"_blank\"><span class=\"glyphicon glyphicon-globe\" style=\"font-size:18px;color:#999;\"></span></a>".html_safe) if studio.website %> </td>
              <td>
                <% if !studio.account_id.present? %>
                <%= link_to raw("<span class=\"glyphicon glyphicon-remove\" style=\"font-size:18px;color:#999;\"></span>".html_safe), [studio], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :id=>'delete_event', :remote => true  %>
                <% end %>
              </td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div>
    <%= render 'studios/new'%>
</div>