
<div class="row">
	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

	<div class="col-lg-8 rightspan" style="min-height:600px;">
	<h3> Your Instructors </h3>
    <div class="divider-horizontal-regular"></div>

		<table class="table table-condensed">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>Date Joined?</th>                             
		        </tr>
		    </thead>
		    <tbody>
		    	<% @instructors = User.where(:is_certified => true) %>

		        <% @instructors.each do |user| %>
		        	<tr>
		        		<td><%=link_to user.name, user %></td>
		        		<td><%=link_to user.email, user %></td>
		        		<td><%= user.phone if user.phone %></td>
		        		<td>Outstanding invitation</td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

    <h3> Database of Instructors</h3>
    <div class="divider-horizontal-regular"></div>


		<table class="table table-condensed">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>Date Joined?</th>                             
		        </tr>
		    </thead>
		    <tbody>
		    	<% @instructors = User.where(:is_certified => true).where(:is_available => true) %>

		        <% @instructors.each do |user| %>
		        	<tr>
		        		<td><%=link_to user.name, user %></td>
		        		<td><%=link_to user.email, user %></td>
		        		<td><%=  user.phone if user.phone %></td>
		        		<td>Outstanding invitation</td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

</div>
</div>