
  <%= render "layouts/sidebar" %>

  	tspan" style="min-height:600px;">

		<div class="col-lg-6" >
			<h3> Your Instructors </h3>
		</div>

		<div class="col-lg-6" style="margin-top:20px;" >
			<%= form_for @search, :url => instructors_studio_path(@studio), :html => {:method => :get, :id => "user_search"} do |f| %>
				<div class="input-group">
		      	<%= f.text_field :name_or_email_contains, :class => "form-control"  %>
		      	<span class="input-group-btn">
		          <button type="submit" class="btn btn-primary">Search</button>
		      	</span>
		    	</div><!-- /input-group -->
			<% end %>
		</div>

		<table class="table table-condensed">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>City</th>                             
		          <th>Certification</th>  
		          <th>Availability? </th>                           
		        </tr>
		    </thead>
		    <tbody>
		        <% @instructors.each do |user| %>
		        	<tr>
		        		<td><%=link_to user.name, user %></td>
		        		<td><%=link_to user.email, user %></td>
		        		<td><%=  user.profile.phone if user.profile.phone %></td>
		        		<td><%= user.profile.city %>, <%= user.profile.state %></td>
		        		<td></td>
		        		<td></td>
		        		<td>Message</td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>
    <div class="divider-horizontal-regular"></div>

<div class="col-lg-6" >
	<h3> Database of Instructors </h3>
</div>
<div class="col-lg-6" style="margin-top:20px;" >
	<%= form_for @search_database, :url => instructors_studio_path(@studio), :html => {:method => :get, :id => "user_search_database"} do |f| %>
		<div class="input-group">
      	<%= f.text_field :name_contains, :class => "form-control"  %>
      	<span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Search</button>
      	</span>
    	</div><!-- /input-group -->
	<% end %>
</div>

		<table class="table table-condensed">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>City</th>                             
		          <th>Certification</th>  
		          <th>Availability? </th>                           
		        </tr>
		    </thead>
		    <tbody>
		        <% @instructors_database.each do |user| %>
		        	<tr>
		        		<td><%=link_to user.name, user %></td>
		        		<td><%=link_to user.email, user %></td>
		        		<td><%=  user.profile.phone if user.profile.phone %></td>
		        		<td><%= user.profile.city %>, <%= user.profile.state %></td>
		        		<td></td>
		        		<td></td>
		        		<td>Message</td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

</div>
