
  <%= render "layouts/sidebar" %>

		<div class="col-lg-9" >
	<h3> Database of Instructors </h3>
		<div class="col-lg-8" style="margin-left:550px;margin-top:-40px;" >
	<%= form_for @search_database, :url => instructors_database_path(), :html => {:method => :get, :id => "user_search_database"} do |f| %>
		<div class="input-group">
      	<%= f.text_field :name_contains, :class => "form-control", :style=>"width:285px;"  %>
  		<span class="input-group-addon"> within </span>      	
      	<%= f.text_field :distance, :placeholder => "miles", :class => "form-control", :style =>"width:60px;" %>
        <span>  <button type="submit" class="btn btn-primary">Search</button>
      	</span>
    	</div><!-- /input-group -->
	<% end %>
	</div>
	</div>

		<table class="table table-condensed">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>City</th>                             
		          <th>Certification</th>  
		          <th>Availability? </th>                           
		        </tr>
		    </thead>
		    <tbody>
		        <% @instructors_database.each do |profile| %>
		        	<tr>
		        		<% user = User.find(profile.user_id) %>
		        		<% if user.present? %>
		        		<td><%=link_to profile.name, user_path(user) %></td>
		        		<% else %>
		        			<td><%= profile.name %></td>
		        		<% end %>
		        		<td><%=link_to profile.email %></td>
		        		<td><%=  profile.phone if profile.phone %></td>
		        		<td><%= profile.city %>, <%= profile.state %></td>
		        		<td></td>
		        		<td></td>
		        		<td><a class = 'btn btn-default btn-xs' href="mailto:<%=profile.email%>">Message</a></td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

</div>
