
<div class="row">
	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

	<div class="col-lg-8 rightspan" style="min-height:600px;">
<h3> Students of <%= @studio.name %></h3>

		<table class="table table-hover">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>Date Joined?</th>                             
		        </tr>
		    </thead>
		    <tbody>
		        <% @students.each do |user| %>
		        	<tr>
		        		<% if user.is_certified %>
		        		<td><%=link_to user.name, user %></td>
		        		<% else %>
		        		<td><%=user.name %></td>
		        		<% end %>
		        		<td><%=user.email %></td>
		        		<td><%=user.phone %></td>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

</div>
</div>