
<div class="row" style="margin-top:-17px;">
	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

	<div class="col-lg-8 rightspan" style="min-height:600px;">
<h3> Students of <%= @studio.name %></h3>

<p>Form to add new students </p>

<% if @instructors.present? %>
		<table class="table table-hover">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>  
		          <th>Phone</th>
		          <th>Date Joined?</th>                             
		        </tr>
		    </thead>
		    <tbody>
		        <% @students.each do |user| %>
		        	<tr>
		        		<td><%=link_to user.name, user %></td>
		        		<td><%=link_to user.email, user %></td>
		        		<td><%= user.email if false %></td>
						<% if user.invitation_accepted_at.present? %>
		        		<td><%= user.invitation_accepted_at %></td>
		        		<% else %>
		        		<td>Outstanding invitation</td>
		        		<% end %>
		        	</tr>
		        <% end %>
		    </tbody>
		</table>

<% else %>

	<p> Looks like you don't have any students signed up! </p>

	<p> Send an invitation for them to join the site. </p>
<% end %>
</div>
</div>