<div class="divider-horizontal-regular"></div>
<%= form_for(@studio.location.new) do |p| %>
  
    <p><%= p.label :address %><br />
    <%=h p.text_field :address, :class => "form-control" %></p>
      
      <div class="row">
          <div class="form-group col-xs-8">
            <p><%= p.label :city %><br />
              <%=h p.text_field :city, :class => "form-control" %></p>  
          </div>
          <div class="form-group col-xs-4">
            <p><%= p.label :state %><br />
              <%= p.select :state, STATES, {:class => "form-control"} %></p>
          </div>
      </div>
<%= p.submit "Create", :class =>"submit-button btn btn-primary pull-right"%>
</div>

<% end %>
<% end %>