<% if user_signed_in? %>

<div class="navbar navbar-inverse navbar-fixed-top" style="height:50px;">
  <span><%= link_to "Studio Manager", root_path, class: "navbar-brand"%> <%= yield(:path) %></span>

  <div class="container" style="height:50px;">
    <div class="navbar-header">
      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">

          <% if current_user.roles.count > 1 %>
          <li class="dropdown" role="menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.active_role.description %> View<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% current_user.account_roles.each do |role|%>
              <li><%= link_to role.description, change_role_user_role_path(current_user, role)  %>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>

          <li class="dropdown" role="menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom:9px;">
              <% if current_user.profile.photo.present?  %>
              <%= image_tag current_user.profile.photo.image.url(:thumb), :class => "avatar", :width => "25px;"%>
              <% else %>
              <%= current_user.name %> 
              <% end %>
              <b class="caret">
              </b>
            </a>
            <ul class="dropdown-menu" style="margin-top:5px;">
        <!--
        <li><%= link_to 'View Profile', user_path(current_user) %></li>

        <li><%= link_to 'View History', history_user_path(current_user) %></li>
      -->
      <li>
        <%= link_to 'Settings', edit_user_registration_path %>
      </li>
      <hr style="margin:5px;">
      <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    </ul>
  </li>
</div>

</ul>
</div><!--/.navbar-collapse -->
</div>
</div>
<% else %>
<div id="landing-nav" class="container">

  <div id="logo" style="float:left;"></div>

  <div id="nav" style="float:right;">
    <p id="nav-query">Have an account?</p>
    <%= link_to 'Sign In', '', :id=>"signup", :onclick => "toggleID('section#landing-content');", :data => {:toggle => "modal", :target => "#signupModal"} , :remote => true, :html => {:style => "margin-top:5px;"}%>
    <%= render "devise/sessions/modal" %>

  </div>
  <% end %>
</div>





