<div class="sidebar-container"> 
  <div id="sidebar-header">
    <!-- Have text to describe contents and add new client button --> 

    <!-- Have a search form by name of client --> 
    <form>
      <span>
        <input type="text" id="client-search" class="search rounded" placeholder="Search..."></input>
      </span>
    </form>
  </div>

  <!-- Have a link to see all students --> 
  <%= link_to "view all", user_students_path(current_user), :style => "margin-left:100px" %>
  <!-- Have a link to add new client --> 
  <%= link_to raw("<span class=\"glyphicon glyphicon-plus-sign\" style=\"font-size:11px;\"></span>".html_safe), '',  :data => {:toggle => "modal", :target => "#addStudent"} , :remote => true %>                         


  <!-- For each student create a description box linking to their private profile -->
  <% @current_user.students.all.each do |profile| %>
  <% student = Student.where(:profile_id => profile.id).first %>

  <div class="sidebar-list-element">
   <div class="col-xs-3">
     <%= image_tag profile.photo.image.url(:medium), :class => "img-circle", :style=>"width:45px;"%>
   </div>

   <div class="col-xs-7" id="client-descriptor">
     <span id="client-name"><%= link_to profile.name, user_student_path(current_user, student) %></span> </br>

     <!-- Add next notification-->
     <span id="client-next"><%= student.next_notification %> </span>
   </div>

   <div class="col-xs-1">
    <div id="orange" class="circle" style="margin-top: 18px;"></div>
  </div>
</div>

<hr class="style-four" style= "margin-top:5px; margin-bottom:5px;">
<% end %>

</div>

<%= render :partial => 'students/new_client'%>

