<div class="col-lg-2" style="padding-top:30px;">
    <% if user_signed_in? %>
    <% if current_user.account.present? %>
    <% if current_user.has_role? :owner %>
          <% if current_user.account.studio.present? %>
          <% @studio = current_user.account.studio %>
    <h3>Manage Studio</h3>
		<div class="divider-horizontal"></div>
	<%= link_to 'Dashboard', root_path(), :style => "padding-top:10px;"%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Calendar', calendar_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Instructors', instructors_studio_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Students', students_studio_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Memberships', studio_memberships_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Coupons', studio_coupons_path(@studio)%>
		<div class="divider-horizontal"></div>
	<% end %>
	<% elsif current_user.has_role? :professional %>
    <h3>Private Services</h3>
		<div class="divider-horizontal"></div>
	<%= link_to 'Private Dashboard', private_dashboard_user_path(current_user), :style => "padding-top:10px;"%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Personal Calendar', private_calendar_path(current_user)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Students', private_students_user_path(current_user)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Memberships', private_memberships_user_path(current_user)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Coupons', private_coupons_user_path(current_user)%>
		<div class="divider-horizontal"></div>
	<% end %>
	<% end %>
	<% end %>
</div>
  <div class="col-lg-9 rightspan" style="padding-top:30px;min-height:650px;">
      <%= render 'layouts/messages' %>
