    <% @studio = Studio.first %>

	<%= link_to 'Dashboard', root_path()%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Calendar', calendar_path()%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Instructors', studio_instructors_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Students', studio_students_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Coupons', studio_coupons_path(@studio)%>
		<div class="divider-horizontal"></div>
	<%= link_to 'Reports', studio_reports_path(@studio)%>
		<div class="divider-horizontal"></div>
